.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    padding: 10px 5px 5px 0;
    background: black;
}

.footer-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links li a {
    color: white;
}