body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*background: white;*/
    margin-top: 10px;
}

.category-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 25px auto;

}

.category-div h2 {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.horizontal-scroll {
    width: 95%;
    height: 380px;
    background: rgba(0, 0, 0, 0.38);
    /*border: 1px solid red;*/
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.horizontal-scroll .btn-scroll {
    background: white;
    color: black;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
}

.movies-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-in;
}

.story-div {
    width: 230px;
    height: 320px;
    margin: 25px 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 1px solid rgb(255, 255, 255);

}

.story-div img {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 500px;
    width: 100%;
    image-resolution: snap;
    object-fit: cover;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.header {
    width: 100%;
    padding: 10px;
    background: #000;
    justify-content: center;
    z-index: 3;
}

.header h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ead9d9;
    text-align: center;
}

.bottom-bar {
    position: absolute;
    top: 295px;
}


.book-btn {
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    width: 100px;
    background: rgba(0, 0, 0, 0.63);
    margin-right: 5px;
    font-weight: bolder;
}

.view-btn {
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    width: 100px;
    background: rgba(0, 0, 0, 0.63);
    margin-right: 5px;
    font-weight: bolder;
}