.float-left {
    float:left;
    width:300px;
}
.container-profile{
    width: 80%;
    /*background-color: #e8dbdb;*/

    margin: 0 auto;
}

.image-view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-view img{
    width: 250px;
    border-radius: 125px;
}

.detail-view{
   display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    margin: 5px;
    padding: 12px;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tinfo {
    font-size: 16px;
    font-weight: 700;
    color: #726405;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:7px 0;
}

.tdata {
    font-size: 0.7em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin:7px 0;
}

.name {
    font-size: 1.3em;
    font-weight: 300;
}

.link {
    text-align: center;
    margin-top:10px;
}

a {
    text-decoration: none;
    color:#55C9E6;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
    font-size: 0.7em;
}
.hqr{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0px auto;
}
.left-one{
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}
.right-one{
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 100% 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}
.column
{
    display: table-cell;
    padding: 37px 0px;
}
.center{
    background:white;
}

#qrcode img{
    height:70px;
    width:70px;
    margin: 0 auto;
}
.masinfo{
    display:block;
}
.left,.right{
    width:49%;
    display:inline-table;
}

.nesp{
    letter-spacing: 0px;
}
.tickets-show{
    width: 80%;
    margin-bottom: 15px;
}